body {
    margin: 0;
    background-color: black;
}

a {
    text-decoration: none;
    color: white;
}

.encabezado{
    display: flex;
    height: 70px;
    background-color: #73077c;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 70px;
    margin-right: 35px;
}

div a{
    font-weight: 600;
    padding-right: 10px;
}

div a:hover{
    color: #f1a56b;
}

h1 {
    text-align: center;
    color:white;
    padding: 50px;
    margin:auto
}
h2{
    color: white;
}
h3 {
    text-align: center;
    color:white
}
p{
    color:white
}

label{
    color: white;
}